:root {
  --background-color: linear-gradient(to bottom, #f0f0f0, #d6d6d6);
  --primary-color: #3399ff;
  --secondary-color: #0077cc;
  --header-color: #333;
  --text-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background: var(--background-color);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


h1 {
  font-size: 2.25rem;
  color: var(--header-color);
  font-weight: bold;
  text-align: center;
  margin: 3.125rem 0 0.125;
}

.icon-btn {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.625rem;
  color: var(--header-color);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-bottom: 2rem;
}

label {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0.625rem;
}

input {
  display: inline-block;
  width: 60%;
  padding: 0.625rem;
  color: var(--header-color);
  border-color: black;
  border-radius: 0.5rem;
}

input[type="radio"] {
  width: 4%;
  margin-left: 2rem;
}

.radio-label {
  margin-top:0.625rem;
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:hover {
  background-color: var(--secondary-color)
}

textarea {
  width: 50%;
  margin-bottom: 10rem;
  font-size: 1rem;
  font-weight: bold;
  border-color: black;
  color: var(--header-color);
  padding: 0.5rem;
}

.footer-class {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  margin-top: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@media (max-width: 640px) {
  .input-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  label {
    width: 30%;
    text-align: center;
  }
  input {
    width: 50%;
  }
}

.name-link {
  color: #fff;
  text-decoration: none;
  text-decoration-line: underline;
  margin-left: 0.2rem
}